@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap');

.title {
    font-family: 'Montserrat', sans-serif;
    color: #4CAF50;
    margin-bottom: 10px;
    font-weight: 600;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(315deg, #111 20%, #1f4a1d 100%);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding-top: 50px;
}

.title {
    color: #4CAF50;
    margin-bottom: 10px;
}

.subheading {
    font-weight: 400;
    color: #e9e9e9;
    margin-bottom: 30px;
}

.container {
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
    margin: 20px;
}

input,
button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

input {
    background-color: #fff;
    color: #333;
    margin-top: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #45a049;
}

#loginButton {
    background-color: #4CAF50;
    font-weight: 800;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    transition: background-color 0.3s;
}

#loginButton:hover {
    background-color: #45a049;
}

#attestButton {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

p {
    word-wrap: break-word;
}

.verification-result {
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.valid {
    background-color: #4CAF50;
}

.invalid {
    background-color: #F44336;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.05);
    /* Slight transparency */
    backdrop-filter: blur(10px);
    /* Frosted glass effect */
    border-radius: 2px;
    overflow: hidden;
    /* Ensures the border-radius clips the content */
    margin-top: 20px;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

th {
    background-color: rgba(76, 175, 80, 0.85);
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

td {
    color: #ddd;
    /* Lighter text color for contrast */
}

/* Link Styles */
table a {
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s ease;
}

table a:hover {
    color: #66ff66;
    text-decoration: underline;
}

/* Checkbox and Button Styles */
.remove-checkbox {
    /* Custom checkbox styles can go here */
}

.title,
.subheading,
th {
    font-family: 'Montserrat', sans-serif;
}

/* Add this to your CSS file */
th,
.verification-result {
    text-align: center;
}

/* Existing table styles */
table,
th,
td {
    padding: 8px;
}

#removeButton {
    background-color: #555;
    /* Darker background for the button */
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#removeButton:hover:not([disabled]) {
    background-color: #F44336;
    /* Red color on hover */
}

#removeButton:disabled {
    cursor: default;
    opacity: 0.5;
}

/* Responsive Table */
@media screen and (max-width: 600px) {
    table {
        display: block;
        width: 100%;
    }

    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    th,
    td {
        text-align: right;
    }

    td {
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        top: 0;
        left: 0;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-label);
        text-align: left;
        color: #ddd;
    }
}

.user-link {
    color: #ffffff;
    text-decoration: none;
}

.user-link:hover {
    color: #66ff66;
    text-decoration: underline;
    transition: color 0.3s ease;
}