body {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding-top: 50px;
}

.title {
    color: #4CAF50;
    margin-bottom: 10px;
}

.subheading {
    color: #ccc;
    margin-bottom: 30px;
}

.container {
    background-color: #555;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    margin: 20px;
}

input,
button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

input {
    background-color: #fff;
    color: #333;
    margin-top: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #45a049;
}

p {
    word-wrap: break-word;
}

.verification-result {
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.valid {
    background-color: #4CAF50;
}

.invalid {
    background-color: #F44336;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table a {
    color: #4CAF50;
    /* This is a bright green color, you can choose any color that contrasts well with your background */
    text-decoration: none;
    /* Optional: removes the underline from links */
}

table a:hover {
    color: #66ff66;
    /* Slightly lighter green color for hover effect */
    text-decoration: underline;
    /* Optional: adds underline on hover */
}

table,
th,
td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

.user-link {
    color: #4CAF50;
    /* This is a bright green color, you can choose any color that contrasts well with your background */
    text-decoration: none;
    /* Optional: removes the underline from links */
}

.user-link:hover {
    color: #66ff66;
    /* Slightly lighter green color for hover effect */
    text-decoration: underline;
    /* Optional: adds underline on hover */
}